---
import type { User } from '../models/user';
import RoleTag from './RoleTag.astro';
import StatusTag from './StatusTag.astro';
import EditIcon from '../icons/Edit.astro';
import IconButton from './IconButton.astro';

interface Props {
    users: User[];
}

const {users} = Astro.props

---

<div class="relative overflow-x-auto shadow-md sm:rounded-lg overflow-y-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="p-4">
                    
                </th>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Email
                </th>
                <th scope="col" class="px-6 py-3">
                    Roles
                </th>
                <th scope="col" class="px-6 py-3">
                    Last login
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                </th>
                <th scope="col" class="px-6 py-3">
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            {
                users.map((user) => (
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 hover:cursor-pointer">
                    <td class="w-4 p-4">
                        <div class="flex items-center">
                            <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                        </div>
                    </td>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {user.name} {user.surname}
                    </th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {user.email}
                    </th>
                    <td class="px-6 py-4">
                        <RoleTag 
                            label='Software'
                            classname='text-blue-800 bg-blue-100 dark:bg-blue-900 dark:text-blue-300'
                        />
                    </td>
                    <td class="px-6 py-4">
                        Yesterday
                    </td>
                    <td class="px-6 py-4">
                        <StatusTag isOnline={true}/>
                    </td>
                    <td class="px-6 py-4 flex flex-row justify-between">
                        <a href="#" class="font-medium dark:text-blue-500">
                            <IconButton type="Edit" classname='border-blue-600 bg-blue-600 text-white hover:bg-blue-700 hover:border-blue-700'/>
                        </a>
                        <a href="#" class="font-medium dark:text-blue-500 hover:underline">
                            <IconButton type="Delete" classname='border-red-600 bg-red-600 text-white hover:bg-red-700 hover:border-red-700'/>
                        </a>
                    </td>
                </tr>
                ))
            }
        </tbody>
    </table>
</div>
